# General
README.md
CHANGELOG.md
.prototools
release-please-config.json
.release-please-manifest.json

# Npm
node_modules
npm-debug.log

# Git
.git
.gitkeep
.gitignore
.github

# Lint
.editorconfig
eslint.config.js
.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.eslintignore
.stylelintrc.js
.stylelintrc.cjs
.commitlintrc.json
.lintstagedrc.json

# Cypress
**/cypress.config.ts
**/cypress

# Tests
.turbo/
coverage/
vitest.config.ts

# Docker
**/Dockerfile
.dockerignore
docker/

# Env
.env*

# CI/CD
ci/
.husky/
.vscode/
.commitlintrc.json