# General
README.md
CHANGELOG.md
.prototools
release-pelase-config.json
.release-pelase-manifest.json

# Npm
node_modules
npm-debug.log

# Git
.gitkeep

# Lint
.editorconfig
.eslint.config.js
.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.eslintignore
.stylelintrc.js
.stylelintrc.cjs
.commitlintrc.json
.lintstagedrc.json

# Cypress
**/cypress.config.ts
**/cypress

# Tests
.turbo/
coverage/
vitest.config.ts

# Docker
**/Dockerfile
.dockerignore
docker/

# Env
.env*

# CI/CD
ci/
.husky/
.vscode/
.commitlintrc.json